.content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content_joke{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}